*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.site-container{
  min-height: 100vh;
}
main {
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
}
.product-info {
  padding: 1rem;
}
.rating span {
  color: #ffc000;
}
.btn-primary{
  background-color: #f0c040;
  border-radius: 10px;
  color: #000;
  border: 0;
}
.img-large{
  max-width: 100%;
}
















